@{
    ViewData["Title"]="Wedding detail";
}
@model Wedding
<div class="row">
    <h1 class="col">Welcome, @ViewBag.User.FirstName @ViewBag.User.LastName</h1>
    <div class="col row">
        <a class="col" href="/Weddings">Home</a>
        <a class="col" href="/Weddings/new">Add a Wedding</a>
        <a class="col" href="/Weddings/logout">Logout</a>
    </div>
</div>
<h1>@Model.WedderOne & @Model.WedderTwo 's Wedding</h1>
<h2>Date: @Model.Date</h2>
<h3>Guests:</h3>
<div class="border">
    @foreach (Attend guest in @Model.Guests){
        <p>@guest.User?.FirstName @guest.User?.LastName</p>
    }
</div>